/* Color Variables */
:root {
  --background-color: #f5f5f5;
  --text-color: #333;
  --border-color: #ccc;
  --border-color-light: #e5e5e5;
  --calendar-header-color: #1E88EF; 
  --calendar-holiday-color: #ff4d4d; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 2rem;
}

header h1 {
  width: 100%;
  font-weight: 500;
  text-align: center;
  margin-left: 10px;
}

.container {
  width: 500px;
  background-color: white;
  border: 1px solid var(--border-color-light);
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
}

/* Date Input */
.search-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.search-bar label {
  min-width: 110px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.search-bar .search-input {
  width: 100%;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  outline-color: var(--calendar-header-color);
}

.search-bar .search-btn {
  color: white;
  background-color: #444;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin-left: 5px;
  cursor: pointer;
}

/* Errors */
.error {
  color: #ff4d4d;
  border: 2px solid #ff4d4d;  
  border-radius: 5px;  
  font-weight: 600;
}

.input-error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px; 
  padding: 0 10px;
  margin: 0 10px;
  visibility: hidden;
}

.year-error-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-error {
  font-size: 12px; 
  padding: 0 5px;
  margin: 5px;
  visibility: hidden;
}

.visible {
  visibility: visible;
}


/* Calendar Container */
.calendar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 10px;
}

.calendar .calendar-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border-color-light);
  padding-top: 10px;
  /* margin-bottom: 10px; */
}

.calendar-navigation .calendar-month,
.calendar-navigation .calendar-year,
.calendar-navigation .today-btn {
  font-size: 18px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px;
  outline-color: var(--calendar-header-color);
}

.calendar-navigation .today-btn {
  width: 100px;
  background-color: white;
  cursor: pointer;
}

.today-btn:hover {
  border: 1px solid var(--calendar-header-color);
  background-color: #e8f3fd;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.calendar-navigation .calendar-year {
  width: 100px;
  text-align: center;
}

.calendar .calendar-body {
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

.calendar-body .calendar-weekdays,
.calendar-body .calendar-dates {
  font-weight: 600;  
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.calendar-weekdays {
  color: var(--calendar-header-color);  
  border-bottom: 2px solid var(--calendar-header-color);
}

.calendar-dates {
  grid-template-rows: repeat(6,1fr);
}

.calendar-weekdays div,
.calendar-dates div {
  width: 3rem;   
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
}

.calendar-dates div{
  height: 3rem;
}

.calendar-weekdays div {
  height: 2rem; 
  align-items: end;
}

.calendar-weekdays div {
  align-items: center;
}

.calendar-dates div:nth-child(7n){
  color: var(--calendar-header-color);
}

.calendar-dates .holidays,
.calendar-dates .holidays:nth-child(7n){
  color: var(--calendar-holiday-color);
}

.calendar-dates .inactive-month {
  opacity: 0.5;
}

.calendar-dates .today {
  background: #8ec3f7;
}



